<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>lot</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>lot.ipa</string>
                    </dict>
                    <dict>
                        <key>lot</key>
                        <string>display-image</string>
                        <key>url</key>
                        <string>https://github.com/ycads/lot/raw/master/57.png</string>
                    </dict>
                    <dict>
                        <key>lot</key>
                        <string>full-size-image</string>
                        <key>url</key>
                        <string>https://github.com/ycads/lot/raw/master/512.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.xxxxtech.lot</string>
                    <key>bundle-version</key>
                    <string>1.0.0</string>
                    <key>lot</key>
                    <string>software</string>
                    <key>title</key>
                    <string>彩富计划</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>